<h1>Angular Material Demo</h1>

<mat-slider thumbLabel min="1" max="100" value="50" step="5"></mat-slider>
<button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
  <mat-icon>delete</mat-icon>
</button>
<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
  <mat-icon>delete</mat-icon>
</button>
<!-- <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
  Action
</button> -->

<br>
<p>
  <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
</p>
<br>
<!-- Auto Complete -->
<input type="text" placeholder="Pick one" aria-label="Number" #input matInput [matAutocomplete]="auto"
  (keyup)="onSearch(input.value)">
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let item of fillteredArray" [value]="item">
    {{item}}
  </mat-option>
</mat-autocomplete>

<input type="password">

<input type="text">

<mat-chip-list>
  <mat-chip *ngFor="let item of namesArr">{{item}}</mat-chip>
</mat-chip-list>


<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of namesArr" [selectable]="selectable" [removable]="removable" (removed)="remove(item)">
      {{item}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="New fruit..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
